:root {
  --pink: #e84393;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.nav-bar {
  background-color: #fffffc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  opacity: 0.8a;
  padding: 1rem 9%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.navlogo {
  font-size: 1rem;
  color: #333;
  font-weight: bolder;
  width: 50px;
  height: 50px;
  justify-self: flex-start;
}
nav .nav-links {
  align-self: flex-end;
  font-size: 1rem;
  padding: 0 1rem;
  color: #666;
}
.nav-links a {
  color: black;
}

.nav-links a:hover {
  color: var(--pink);
  text-decoration: none;
}

nav .icons {
  height: 50px;
}
nav .icons .shopping-cart {
  height: 30px;
}

header {
  padding-top: 50px;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 1440px;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 100%;
}

.home .content h3 {
  font-size: 6rem;
  color: #333;
}

.home .content span {
  font-size: 3.5rem;
  color: var(--pink);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  margin-top: 0.25rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background: var(--pink);
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
}

.preview-image {
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.all-products-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dceeff;
  padding: 7.5%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dceeff;
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
}

.product-preview {
  display: flex;
  background-color: #fffffc;
  padding: 1em;
  height: 300px;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.single-product-container {
  display: flex;
  background-color: lightgray;
  padding: 1em;
  max-height: 450px;
  max-width: 450px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 1em;
  flex-grow: 1;
}

.single-image {
  height: 250px;
  width: 250px;
}

.container {
  background-color: aliceblue;
  width: 100%;
}

.cart-container {
  display: block;
  margin-top: 2rem;
  width: 600px;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cart-header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 5px;
}

.cart-title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  color: black;
  padding-top: 1rem;
  padding-bottom: 7px;
}

.cart-action {
  font-size: 14px;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
  border-bottom: 1px solid #e44c4c;
}

.cart-items {
  margin: auto;
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-box {
  width: 15%;
  text-align: center;
}

.cart-images {
  height: 120px;
  width: 120px;
  border-radius: 15%;
  margin-bottom: 1rem;
}

.about {
  height: 100%;
}

.title {
  padding-top: 5px;
  line-height: 10px;
  font-size: 12px;
  font-weight: 800;
  color: black;
}

.cart-counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-counter-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: black;
  cursor: pointer;
}

.cart-count {
  font-size: 20px;
  font-weight: 900;
  color: black;
}

.cart-amount {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 800;
  color: black;
}

.cart-remove {
  padding-top: 5px;
  font-size: 10px;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
}

.checkout {
  float: right;
  margin-top: 1rem;
  margin-right: 5%;
  width: 28%;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subtotal {
  font-size: 22px;
  font-weight: 700;
  color: black;
}

.items {
  font-size: 16px;
  font-weight: 500;
  color: #909090;
  line-height: 10px;
}

.total-amount {
  font-size: 36px;
  font-weight: 900;
  color: #202020;
}

.checkout-button {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border: none;
  background: linear-gradient(to bottom right, #b8d7ff, #8eb7eb);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #202020;
}

.checkout-button:hover {
  background: #f48498;
}

.home {
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
}

.history {
  display: flex;
  justify-content: center;
}

.history-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.history-table thead tr {
  background-color: #f48498;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.history-table th,
.history-table td {
  padding: 12px 15px;
}

.history-table img {
  height: 100px;
  width: 100px;
}

.history-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

.history-table tbody tr:last-of-type {
  border-bottom: 2px solid #f48498;
}

.history-table tfoot {
  background-color: #ffe6e8;
}

.history-table tbody tr:hover {
  filter: brightness(90%);
}

.nothing {
  font-size: large;
  background-color: white;
  text-align: center;
}

/* Auth form CSS */

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.auth-form h1 {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid black;
}

.text-box {
  position: relative;
  margin: 30px 0;
  border-bottom: black solid 1px;
}

.auth-form input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}

.auth-form button {
  width: 100%;
  height: 50px;
}
